In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import NoSuchWindowException
import time
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support import expected_conditions as EC

In [4]:
link_1 = "https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=24%2F01%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=807525409771"

In [50]:
driver = webdriver.Chrome('chromedriver')
#driver.get(link_1)

In [41]:
seg1 = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination="
seg2 = "&destinationCountry=IN&flexi=0&flight_depart_date="
seg3 = "%2F2022&hb=0&noOfSegments=1&origin="
seg4 = "&originCountry=IN&type=O&unique=345635628793&version=1.1&viewName=normal"

In [43]:
link

'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=25%2F02%2F2022&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=345635628793&version=1.1&viewName=normal'

In [51]:
dep_city = "CCU"
arr_city = "BLR"
md = []    # main data
day = 2
month = 2
for i in range(27):
    link = seg1+dep_city+seg2 + str(day)+"%2F0"+str(month)+seg3 + arr_city + seg4    
    driver.get(link)
    time.sleep(5)
    for i in range(3):
        driver.execute_script("window.scrollTo(0,document.body.scrollHeight)") #scrolling down the page
        time.sleep(3)
    data = driver.find_elements_by_xpath("//div[@class = 'flight-det table full-width clearfix']")
    text = [d.text.replace("+ 1 day\n","").split("\n")+ [day, month] for d in data]
    while len(text) == 0:
        time.sleep(30)
        driver.get(link)
        time.sleep(5)
        for i in range(3):
            driver.execute_script("window.scrollTo(0,document.body.scrollHeight)") #scrolling down the page
            time.sleep(3)
        data = driver.find_elements_by_xpath("//div[@class = 'flight-det table full-width clearfix']")
        text = [d.text.replace("+ 1 day\n","").split("\n")+[day, month] for d in data]
    #time.sleep(10)
    #data = driver.find_elements_by_xpath("//div[@class = 'flight-det table full-width clearfix']")
    #text = [d.text.split("\n") + [day, month] for d in data]
    #text.append(day)
    #text.append(month)
    md = md + text
    #for i in range(50):
    if month == 1:
        if day < 31:
            day = day + 1
            #print(d, m)
        else:
            day = 1
            month = month + 1
            #print(d, m)
    if month == 2 :
        if day < 28:
            day = day + 1
            #print(d, m)
        else:
            day = 1
            month = month + 1
            #print(d, m)

In [91]:
import pandas as pd

In [52]:
len(md)

1148

In [53]:
df = pd.DataFrame(md)
df.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11
0,Air Asia,I5-1426/320,12:50,Bangalore,23:10,Kolkata,10h 20m,2 Stop(s),"5,176",View Fares,2.0,2.0
1,Go First,G8-803/7531,18:30,Bangalore,08:40,Kolkata,14h 10m,1 Stop,"3 left at5,177",View Fares,2.0,2.0
2,IndiGo,6E-975,21:45,Bangalore,00:10,Kolkata,2h 25m,Non Stop,"5,178",View Fares,2.0,2.0
3,Air India,AI-573,12:50,Bangalore,17:35,Kolkata,4h 45m,1 Stop,"5,179",View Fares,2.0,2.0
4,IndiGo,6E-201,18:00,Bangalore,20:40,Kolkata,2h 40m,Non Stop,"5,410",View Fares,2.0,2.0
5,Air Asia,I5-592,17:20,Bangalore,19:45,Kolkata,2h 25m,Non Stop,"5,424",View Fares,2.0,2.0
6,Go First,G8-791,20:00,Bangalore,22:20,Kolkata,2h 20m,Non Stop,"5,755",View Fares,2.0,2.0
7,Air India,AI-748,02:40,Bangalore,05:15,Kolkata,2h 35m,Non Stop,"1 left at5,809",View Fares,2.0,2.0
8,IndiGo,6E-6572,15:15,Bangalore,17:45,Kolkata,2h 30m,Non Stop,"2 left at6,500",View Fares,2.0,2.0
9,IndiGo,6E-455,08:40,Bangalore,11:20,Kolkata,2h 40m,Non Stop,"1 left at6,753",View Fares,2.0,2.0
10,IndiGo,6E-503,11:45,Bangalore,14:25,Kolkata,2h 40m,Non Stop,"3 left at6,753",View Fares,2.0,2.0
11,IndiGo,6E-146,03:30,Bangalore,06:10,Kolkata,2h 40m,Non Stop,"2 left at7,803",View Fares,2.0,2.0
12,IndiGo,6E-541/606,09:15,Bangalore,20:15,Kolkata,11h 00m,1 Stop,"8,276",View Fares,2.0,2.0
13,IndiGo,6E-6339,06:35,Bangalore,09:15,Kolkata,2h 40m,Non Stop,"2 left at8,299",View Fares,2.0,2.0
14,IndiGo,6E-6067/944,16:20,Bangalore,22:40,Kolkata,6h 20m,1 Stop,"8,906",View Fares,2.0,2.0
15,IndiGo,6E-7223/944,14:45,Bangalore,22:40,Kolkata,7h 55m,1 Stop,"8,906",View Fares,2.0,2.0
16,IndiGo,6E-6491/944,13:05,Bangalore,22:40,Kolkata,9h 35m,1 Stop,"8,906",View Fares,2.0,2.0
17,IndiGo,6E-541/183,09:15,Bangalore,17:10,Kolkata,7h 55m,1 Stop,"1 left at9,116",View Fares,2.0,2.0
18,IndiGo,6E-6491/283,13:05,Bangalore,19:15,Kolkata,6h 10m,1 Stop,"9,168",View Fares,2.0,2.0
19,IndiGo,6E-886/283,09:20,Bangalore,19:15,Kolkata,9h 55m,1 Stop,"3 left at9,168",View Fares,2.0,2.0

In [54]:
# saving the data as csv
df.to_csv("df5.csv")